<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>World Map Visualization</title>
  
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="visualization_4_static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="static/css/style.css">  -->
  <link rel="icon" 
      type="image/png"> 
</head>
<body>
  <div id="plot"></div>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="index.html"> 
                <a class="navbar-brand logo" href="../index.html">
                <span class="nav-color">Aviation Crashes</span></a>
        </div>
            <div class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Graphs and Visualizations<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="visualization_1.html">Visualization 1</a></li>
                      <li><a href="visualization_2.html">Visualization 2</a></li>
                      <li><a href="visualization_3.html">Visualization 3</a></li>
                      <li><a href="visualization_4.html">Visualization 4</a></li>
                    </ul>
                </li>
                <li><a href="about_us.html">About Us</a></li>                                          
            </div>
        </div>      
      </nav>
   <!-- <div class="container">
    <div class="row">
      <div class="col-md-10">  
        <h1>Visualization 4</h1> 
      </div>
    </div>
  </div>  -->
 </body>
<!-- The div where we will inject our map -->
<div id="map"></div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
<!-- API key -->
<script type="text/javascript" src="visualization_4_static/config.js"></script>
<!-- JS -->
<script type="text/javascript" src="visualization_4_static/logic.js"></script>
</body>
<script src="https://d3js.org/d3.v7.min.js"></script>
<!--  <script src="static/js/main.js"></script>  -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>