<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aviation Crashes</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="icon" 
      type="image/png"> 
</head>
<body>
  <div id="plot"></div>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="index.html"> 
                <span class="nav-color">Aviation Crashes</span></a>
        </div>
            <div class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Graphs and Visualizations<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="Visualizations/visualization_1.html">Visualization 1</a></li>
                        <li><a href="Visualizations/visualization_2.html">Visualization 2</a></li>
                        <li><a href="Visualizations/visualization_3.html">Visualization 3</a></li>
                        <li><a href="Visualizations/visualization_4.html">Visualization 4</a></li>
                    </ul>
                </li>
                <li><a href="about_us.html">About Us</a></li>                                          
            </div>
        </div>      
      </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Project Description</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-2000w,f_auto,q_auto:best/newscms/2020_05/3206961/afp_1og75n.jpg" height="280" width="380" align="left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget accumsan erat. Aliquam vehicula condimentum arcu, quis hendrerit ipsum. Ut sagittis tortor non velit posuere, commodo tincidunt leo vehicula. Sed ullamcorper eu justo sit amet rhoncus. Aliquam metus nibh, rhoncus et auctor quis, lacinia non nibh. Vivamus eu feugiat lorem. Vivamus enim dui, pulvinar vel feugiat vel, interdum a augue. Sed urna purus, tristique vitae neque nec, porta fermentum mauris. Proin et gravida magna. Donec molestie in lorem rhoncus finibus. In vel tellus ligula. Aenean tempus mauris id risus aliquet eleifend.</p><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget accumsan erat. Aliquam vehicula condimentum arcu, quis hendrerit ipsum. Ut sagittis tortor non velit posuere, commodo tincidunt leo vehicula. Sed ullamcorper eu justo sit amet rhoncus. Aliquam metus nibh, rhoncus et auctor quis, lacinia non nibh. Vivamus eu feugiat lorem. Vivamus enim dui, pulvinar vel feugiat vel, interdum a augue. Sed urna purus, tristique vitae neque nec, porta fermentum mauris. Proin et gravida magna. Donec molestie in lorem rhoncus finibus. In vel tellus ligula. Aenean tempus mauris id risus aliquet eleifend.</p><br> 
    </div>
  </div>
</body>

</body>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>